// Define color variables
$primary-color: #323232; // BandSite-Black
$secondary-color: #000000; // BandSite-DarkBlack
$secondary-text-color: #AFAFAF; // Silver
$secondary-color-light: #FAFAFA; // Alabaster
$divider-color: #E1E1E1; // Mercury
$on-primary-color: #ffffff; // White

// Define metric
$padding-size: 16px;
$padding-size-big: 24px;

// Define font faces
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../assets/font/AvenirNextLTPro-Regular.otf') format('opentype'),
        url('../assets/font/Alternative/AvenirNextLTPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('../assets/font/AvenirNextLTPro-Bold.otf') format('opentype'),
        url('../assets/font/Alternative/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTProDemi';
    src: url('../assets/font/AvenirNextLTPro-Demi.otf') format('opentype'),
        url('../assets/font/Alternative/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'AvenirNextLTPro', sans-serif;
}

h1,
h2 {
    font-family: 'AvenirNextLTProBold', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h3 {
    font-family: 'AvenirNextLTProDemi', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

p {
    font-size: 13px;
    line-height: 18px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

label,
button {
    font-family: 'AvenirNextLTProBold', sans-serif;
    font-size: 10px;
    line-height: 20px;
}

label {
    color: $secondary-text-color;
}

button {
    background-color: $primary-color;
    color: $on-primary-color;
    height: 40px;
    width: 100%;
    border-radius: 4px;

    &:hover {
        background-color: $secondary-color;
    }
}


.header {
    background-color: $primary-color;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo>a {
        max-height: 20px;
        max-width: 120px;
    }

    &__nav {
        display: flex;
        background-color: $primary-color;
        color: $on-primary-color;
        width: 100%;

        .nav__item {
            padding: 16px;
            width: 50%;
            text-align: center;
            box-sizing: border-box;
            border-bottom: 4px solid $primary-color;

            &:hover {
                color: $divider-color;
            }

            &--active,
            &:active {
                font-family: 'AvenirNextLTProBold', sans-serif;
                border-bottom-color: $on-primary-color;
                color: $on-primary-color;
            }
        }
    }
}


.hero {
    background-image: url('../assets/images/hero-bio.jpg');
    background-size: cover;

    &__content {
        display: flex;
        align-items: center;
        color: $on-primary-color;
        padding: 24px 16px;
        width: 100%;
        height: 40vh;
        background-color: rgba($color: $primary-color, $alpha: 0.5);
    }
}


.profile__image--small {
    min-width: 36px;
    min-height: 36px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: $divider-color;
    object-fit: cover;
}


.block1,
.block2 {
    padding: $padding-size-big $padding-size $padding-size;
    display: flex;
    flex-direction: column;
    gap: $padding-size;
}

.block2 {
    background-color: $secondary-color-light;
}

.quote {
    font-family: 'AvenirNextLTProDemi';
    font-size: 14px;

    span {
        line-height: 32px;
    }
}

.feeds {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: $padding-size 0;
}

.form {
    &__item {
        display: flex;
        align-items: flex-end;
        gap: 16px;
        padding-bottom: 16px;

        &--padded {
            display: block;
            padding-left: calc(36px + 16px);
            padding-bottom: 16px;

            textarea {
                width: 100%;
                border-radius: 4px;
                padding: 12px;
                border: 1px solid $divider-color;
                outline: none;
                resize: vertical;
                background-color: $secondary-color-light;

                &.input__state--error {
                    border-color: #D22D2D;
                }

                &:focus {
                    border-color: $primary-color;
                }
            }
        }

        .form__field {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8;


            input {
                width: 100%;
                height: 32px;
                border-radius: 4px;
                padding: 12px;
                border: 1px solid $divider-color;
                outline: none;
                background-color: $secondary-color-light;


                &:focus {
                    border-color: $primary-color;
                }

                &.input__state--error {
                    border-color: #D22D2D !important;
                }
            }
        }
    }
}

.divider {
    background-color: $divider-color;
    height: 1px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__item {
        display: flex;
        gap: 16px;

        .context {
            width: 100%;
            display: flex;
            flex-direction: column;

            .head {
                display: flex;
                justify-content: space-between;
                padding-bottom: 8px;

                .date {
                    color: $secondary-text-color;
                    font-size: 13px;
                }
            }
        }
    }

}

.footer {
    color: #ffffff;
    background-color: $primary-color;
    padding: 24px 16px 16px;


    &__socials {
        display: flex;
        padding: 16px 0;
        gap: 24px;
    }

    &__contact {
        h3 {
            padding-bottom: 16px;
        }

        .email {
            padding: 16px 0;
        }
    }
}

// Mobile (Small screens, up to 767px)
@media (max-width: 767px) {
    .footer {
        &__head {
            .head__logo {
                display: none;
            }
        }

        &__logo {
            padding: 24px 0 16px 0;
        }
    }
}

// Tablet (Medium screens, 768px to 1279px)
@media screen and (min-width: 768px) {
    $padding-size: 36px;
    $padding-size-big: 48px;

    .header {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 24px;
        height: 15vh;

        &__logo {
            padding: 0 24px;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__nav {
            padding: 0 24px;
            width: auto;
            height: 100%;

            .nav__item {
                padding: 24px 0 20px;
                margin: 0 24px;
                display: flex;
                align-items: center;
            }
        }
    }

    .hero {
        &__content {
            height: 85vh;
            padding: 36px;
        }
    }

    /* Define Typography*/
    h1 {
        font-size: 60px;
        line-height: 68px;
    }

    h2 {
        font-size: 36px;
        line-height: 44px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    label,
    button {
        font-size: 12px;
        line-height: 20px;
    }

    .block1,
    .block2 {
        padding: 48px 36px 36px;
        gap: 36px;
    }

    .block1>* {
        margin: 0 64px;
    }

    .block1>h2 {
        margin: 0;
    }

    .feeds {
        display: flex;
        flex-direction: row;
        gap: 36px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery>img {
        width: 32%;
    }

    .profile__image--small {
        min-width: 48px;
        min-height: 48px;
        height: 48px;
        width: 48px;
    }

    .form {
        &__item {
            display: flex;
            align-items: flex-end;
            gap: 16px;
            padding-bottom: 24px;

            &--padded {
                display: block;
                padding-left: calc(48px + 16px);
                padding-bottom: 24px;

                textarea {
                    padding: 16px;
                }
            }

            &__field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8;


                input {
                    height: 48px;
                    padding: 16px;
                }


            }
        }
    }

    .submit__field {
        text-align: right;
        padding: 0;

        button {
            width: 150px;
        }
    }

    .comments {
        gap: 36px;
    }

    .footer {
        padding: 48px 36px 36px;

        &__head {
            display: flex;
            align-items: center;
            padding-bottom: 36px;
            justify-content: space-between;

            .head__logo {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }

        &__head>* {
            width: 30%;
        }

        &__contacts {
            display: flex;
            justify-content: space-between;
        }

        &__contact {
            width: 30%;
        }

        &__copyright {
            padding: 36px 0;
        }
    }

    .footer>.footer__logo {
        display: none;
    }

}

// Desktop (Large screens, 1280px and up)
@media (min-width: 1280px) {}
